<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Create Product</title>
    <link rel="stylesheet" href="css/styles.css">

</head>
<body>
    <%- include('partial/header') %>
    <h1 class="titleFormCreateProduct">Cargar Nuevo Producto</h1>
    <form class="formCreateProduct" action="/agregar-producto" method="post">
        <label class="nameProduct" for="name">Nombre del producto:</label>
        <input class="createProduct" type="text" id="name" name="name" required><br>
        
        <label class="nameProduct" for="description">Descripción:</label>
        <textarea class="textAreaCreateProduct" id="description" name="description" required></textarea><br>
        
        <label class="nameProduct" for="image">Imagen:</label>
        <input class="createProduct" type="file" id="image" name="image" accept="image/*" required><br>
        
        <label class="nameProduct" for="category">Categoría:</label>
        <input class="createProduct" type="text" id="category" name="category" required><br>
        
        <label class="nameProduct" for="colors">Colores:</label>
        <input class="createProduct" type="text" id="colors" name="colors" required><br>
        
        <label class="nameProduct" for="price">Precio:</label>
        <input class="createProduct" type="number" id="price" name="price" step="0.01" required><br>
        
        <button class="btnCreateProduct" type="submit">Agregar Producto</button>
      </form>
      <%- include('partial/footer')%>
</body>
</html>