<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto&family=Roboto+Slab&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto&family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
   

    <main>
        <section class ="imagenes">
            <img src="/images/ejercicio.jpg" class="imagen">
            <img src = "/images/ejercicio2.jpg" class="imagen2">
            <img src ="/images/ejercicio3.jpg" class="imagen3">
        </section>

        <section class="enlaces">
            <a href="#" class="gym">gym</a>
            <a href="#" class="planes">planes</a>
            <a href="#" class="sport">sport</a>
            <a href="#" class="contacto">contacto</a>
        </section>

        <section>
            <img src="/images/FH1.png" class="bannerGrande">
        </section>

        <section class="spamLogin">
            <div>registrarse</div>
        </section>

        <section class="productosDestacados">
            <div class="elemento">
                <img src="/images/barra.jpg" alt="barra" ></img>
                <div class="caja">
                    <div class="nombre"><b>Barra Cromada 2,20 m 30 cm</b></div>
                    <div class="precio">$50.000</div>
                    <div class="cuotas">6 cuotas sin interes</div>
                    <div class="comprar">anadir al carro</div>
                </div>
            </div>

            <div class="elemento">
                <img src="/images/suplemento-dietario.webp" alt="suplemento" ></img>
                <div class="caja">
                    <div class="nombre"><b>Whey proteina x 930g</b></div>
                    <div class="precio">$15.000</div>
                    <div class="cuotas">3 cuotas sin interes</div>
                    <div class="comprar">anadir al carro</div>
                </div>
            </div>

            <div class="elemento">
                <img src="/images/grip.webp" alt="grip" ></img>
                <div class="caja">
                    <div class="nombre"><b>Nike grip push up</b></div>
                    <div class="precio">$18.000</div>
                    <div class="cuotas">6 cuotas sin interes</div>
                    <div class="comprar"><a href="./productDetail.html">anadir al carro</div></a>
                </div>
            </div>
        </section>
    </main>

    

</body>

</html>