<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('partial/head') %>
</head>

<body>


    <%- include('partial/header') %>


        <main >
            <section class="imagenes">
                <img src="/images/ejercicio.jpg" class="imagen">
                <img src="/images/ejercicio2.jpg" class="imagen2">
                <img src="/images/ejercicio3.jpg" class="imagen3">
            </section>

            <section class="enlaces">
                <a href="#" class="gym">gym</a>
                <a href="#" class="planes">planes</a>
                <a href="#" class="sport">sport</a>
                <a href="#" class="contacto">contacto</a>
            </section>

            <section>
                <img src="/images/FH1.png" class="bannerGrande">
            </section>

            <section class="spamLogin">
                <div>registrarse</div>
            </section>

            <section class="productosDestacados">
                <div class="elemento">
                    <img src="/images/barra.jpg" alt="barra" />
                    <div class="caja">
                        <div class="nombre"><b>Barra Cromada 2,20 m 30 cm</b></div>
                        <div class="precio">$50.000</div>
                        <div class="cuotas">6 cuotas sin interes</div>
                        <a href="/productDetail" class="btnPrimary">Añadir al carrito</a>
                    </div>
                </div>

                <div class="elemento">
                    <img src="/images/suplemento-dietario.webp" alt="suplemento" />
                    <div class="caja">
                        <div class="nombre"><b>Whey proteina x 930g</b></div>
                        <div class="precio">$15.000</div>
                        <div class="cuotas">3 cuotas sin interes</div>
                        <a href="/productDetail" class="btnPrimary">Añadir al carrito</a>
                    </div>
                </div>

                <div class="elemento">
                    <img src="/images/grip.webp" alt="grip" />
                    <div class="caja">
                        <div class="nombre"><b>Nike grip push up</b></div>
                        <div class="precio">$18.000</div>
                        <div class="cuotas">6 cuotas sin interes</div>
                        <a href="/productDetail" class="btnPrimary">Añadir al carrito</a>
                    </div>
                </div>
            </section>
        </main>

        <%- include('partial/footer')%>

</body>

</html>