<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head.ejs') %>


<body>
    <%- include('partials/header.ejs') %>

    <main class="main-home">
        <div class="carousel">
            <div class="slides">
                <div class="slide" id="slide1"><img src="images/ejercicio1.jpg" alt="ejercicio1"></div>
                <div class="slide" id="slide2"><img src="images/ejercicio2.jpg" alt="ejercicio2"></div>
                <div class="slide" id="slide3"><img src="images/ejercicio3.jpg" alt="ejercicio3"></div>
            </div>
          </div>
          
    </main>

    <%- include('partials/footer') %>
</body>

</html>