<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>


<body>
    <%- include('partials/header.ejs') %>
    <main>
        <div class="product-detail">
            <div class="product-img">
                <img src="images\Naike.jpg" alt="Producto">
            </div>
            <div class="product-info">
                <h2>Nike Grip Push Up</h2>
                <p>
                    El hand grip Nike Push Up 3.0 es un accesorio ideal para entrenar en tu casa como también si querés
                    llevar en tu mochila o bolso para ejercitarte al aire libre.</p>
                <p><strong>Precio: $18.000</strong></p>
                <p>Hasta 6 cuotas sin interes</p>
                <button class="add-to-cart">Agregar al Carrito</button>

                <div class="product-details">
                    <div class="detail-column">
                        <p><strong>Género:</strong> Unisex</p>
                        <p><strong>Adecuado para:</strong> Entrenamiento</p>
                        <p><strong>Garantía:</strong> Contra defecto de fabricación</p>
                    </div>
                    <div class="detail-column">
                        <p><strong>Origen:</strong> Importado</p>
                        <p><strong>País del fabricante:</strong> China</p>
                        <p><strong>Marca:</strong> Nike</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <%- include('partials/header.ejs') %>
</body>

</html>