<header class="header">
    <nav class="navbar">
        <div class="navbar-logo">
<<<<<<< Updated upstream:src/views/partials/header.ejs
            <a href="#"><img src="images/logo.png" alt="Logo"></a>
        </div>
        <ul class="navbar-links">
            <li><a href="#"><i class="fas fa-shopping-cart"></i> Carrito</a></li>
            <li><a href="#">Ofertas</a></li>
=======
            <a href="/home"><img src="images/logo.png" alt="Logo"></a>
        </div>
        <ul class="navbar-links">
            <li><a href="/productCart">Carrito</a></li>
            <li><a href="/home">Ofertas</a></li>
>>>>>>> Stashed changes:src/views/partial/header.ejs
            <li><a href="/productDetail">Contacto</a></li>
            <li><a href="/login"><i class="fas fa-user"></i> Iniciar Sesión</a></li>
            <li><a href="/register"><i class="fas fa-plus"></i> Registrarse</a></li>
        </ul>
        <i class="fas fa-bars"></i>
    </nav>
    <div class="search-form">
        <form class="d-flex">
            <input type="search" placeholder="Buscar">
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
</header>